pdfplumber==0.11.4
pypdf
pandas==2.2.3
regex==2023.12.25
streamlit
langchain
langchain-openai
langchain-anthropic
langchain-community
langchain-chroma
chromadb
grpcio
protobuf
hnswlib
python-dotenv
requests
faiss-cpu